<h3 class="heading">Latest Articles</h3>
<div ng-controller="ArticlesCtrl">
  <div class="row">
    <div class="articles">
      <div ng-repeat="article in articles">
        <div class="article col-md-12">
          <div class="col-md-6">
            <a href="#/articles/{{article._id}}"><h4>{{article.title}}</h4></a>
            <p>{{article.body}}</p>
            <a href="{{article.link}}">{{article.link}}</a>
          </div>
          <div ng-controller="ArticleDetailsCtrl">
            <a class="btn btn-danger btn-sm remove" ng-click="removeArticle()">X</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>